<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/dynamics/studnet.list.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text" v-text="obj.name"></div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (statusbarHeight+45) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else v-cloak class="content">
                <div v-if="data.length === 0" class="normal_info">
                    <img class="img" src="../../content/img/center/like_bg.png" />
                    <p class="text">暂时还没有相关记录</p>
                </div>
                <div v-else>
                    <ul class="mt-15">
                        <li class="tabs"
                            v-for="(item,index) in data"
                            v-bind:key="index"
                            @click="gotoDetail(item)">
                            <div class="left">
                                <img class="img" v-lazy="item.ImageSrc" />
                            </div>
                            <div class="right w-100">
                                <p class="info1">
                                    <span class="nick" v-text="item.RealName"></span>
                                    <span class="schoolname" v-text="'#' + item.CollegeName + '#'"> </span>
                                </p>
                                <p class="info2" v-text="item.Motto"></p>
                                <p class="info3 mt-5" v-text="item.Company"></p>
                            </div>
                        </li>
                    </ul>
                    <div v-if="isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text">正在加载...</span>
                    </div>
                    <div v-if="isLoadComplete" class="load_more_complete">
                        <span class="load_text">没有更多的数据了...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/dynamics/student.list.js"></script>
</body>
</html>
