<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
	<title></title>
	<link href="../../content/css/base.css" rel="stylesheet" />
	<link href="../../content/css/vant.css" rel="stylesheet" />
	<link href="../../content/css/pages/employed/employed.infos.css" rel="stylesheet" />
	<script src="html5plus://ready"></script>
</head>
<body>
	<div id="app">
		<div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
			<i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
			<div class="app-head-text">
				行业知识
			</div>
		</div>
		<div id="app-content" v-bind:style="{'paddingTop': (statusbarHeight+45) + 'px'}">
			<div class="tags tag van-hairline--bottom">
				<span class="tag" :class="{'isCheck':form.px==1}" @click="switchTags(1)">
					推荐
				</span>
				<span class="tag" :class="{'isCheck':form.px==2}" @click="switchTags(2)">
					最新发布
				</span>
			</div>
			<div v-if="isLoading" class="loading-box p60">
				<van-loading color="black"></van-loading>
				<p class="loading-text">正在加载...</p>
			</div>
			<div v-else>
				<div v-if="data.length==0" class="normal_info">
					<img class="img" src="../../content/img/center/cache_bg.png" />
					<p class="text">
						还没有相关信息，敬请期待
					</p>
				</div>
				<div v-else class="content">
					<div class="cell mt-5" v-for="item in data" @click="gotoDeatil(item.Id)">
						<div class="left">
							<img :src="item.ImageSrc" class="img" />
						</div>
						<div class="right">
							<p class="name" v-text="item.Title">
							</p>
							<p class="intro mt-10" v-text="item.DDes==''?'暂无介绍':item.DDes">
							</p>
							<p class="number mt-5" v-text="'#'+item.CollegeName">
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="../../content/js/vue.js"></script>
	<script src="../../content/js/vant.min.js"></script>
	<script src="../../content/js/base.js"></script>
	<script src="../../content/js/pages/employed/employed.infos.js"></script>
</body>

</html>