<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
		<title></title>
		<link href="../../content/css/base.css" rel="stylesheet" />
		<link href="../../content/css/vant.css" rel="stylesheet" />
		<link href="../../content/css/pages/employed/induction.record.css" rel="stylesheet" />
		<script src="html5plus://ready"></script>
	</head>
	<body>
		<div id="app">
			<div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
				<i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
				入职登记
			</div>
			<div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
				<p class="title mt-15">入职情况反馈登记表</p>
				<div class="form mt-15">
					<p class="name">
						1 基本信息:
					</p>
					<div class="content1 mt-10">
						<p class="cell">
							<span class="hint">姓名：</span>
							<input class="input c1" readonly v-model="form.name" type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">班级：</span>
							<input class="input "  v-model="form.class"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">专业方向：</span>
							<input class="input"  v-model="form.specialtyDirection"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">手机号码：</span>
							<input class="input" maxlength="11"  v-model="form.phone"  type="text" />
						</p>
					</div>
				</div>
				<div class="form mt-15">
					<p class="name">
						2 面试公司信息:
					</p>
					<div class="content1 mt-10">
						<p class="cell">
							<span class="hint">公司名字：</span>
							<input class="input"  v-model="form.companyName"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">公司地址：</span>
							<input class="input"  v-model="form.companyAddress"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">公司联系人：</span>
							<input class="input"  v-model="form.companyContacts"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">联系人电话：</span>
							<input class="input"   maxlength="11" v-model="form.contactsPhone"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">试岗位：</span>
							<input class="input"  v-model="form.entryPosition"  type="text" />
						</p>
						<p class="cell mt-10">
							<span class="hint">面试时间：</span>
							<span class="time" v-text="form.entryTime" ></span>
							<i class="iconfont iconriqi1" @click="show=true" ></i>
						</p>
					</div>
				</div>
				<div class="confirm_button" @click="checkData">
					提交
				</div>
				<van-popup v-model="show" position="bottom">
					<van-datetime-picker v-model="time" type="date" @cancel="show=false"  @confirm="confirm"   :max-date="maxDate" :min-date="minDate">
					</van-datetime-picker>
				</van-popup>
			</div>
		</div>
		<script src="../../content/js/vue.js"></script>
		<script src="../../content/js/vant.min.js"></script>
		<script src="../../content/js/base.js"></script>
		<script src="../../content/js/pages/employed/induction.record.js"></script>
	</body>
</html>
