<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/conversion/goods.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div v-if="form.ty === '2'" class="app-head-text">线上商品</div>
            <div v-if="form.ty === '1'" class="app-head-text">实物商品</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (statusbarHeight + 45) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else v-cloak>
                <div v-if="pageModel.data.length === 0" class="normal_info">
                    <img class="img" src="../../content/img/center/cache_bg.png" />
                    <p class="text">暂时没有相关商品</p>
                </div>
                <div v-else>
                    <ul class="list">
                        <li class="tab" 
                            v-for="(item, index) in pageModel.data" 
                            v-bind:key="index"
                            @click="gotoDetailPage(item.Id)">
                            <div class="inner">
                                <img class="img" v-lazy="item.ImageSrc" />
                                <div class="bottom">
                                    <p class="name" v-text="item.Name"></p>
                                    <p class="price" v-text="item.YCoin + '云币'"></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text">正在加载...</span>
                    </div>
                    <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                        <span class="load_text">没有更多的数据了...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/conversion/goods.js"></script>
</body>
</html>
