.van-tab--active {
    color: #53aaf6;
    font-size: 1.1em;
}

.van-tabs--line {
    padding-top: 0;
}

.van-tabs__content {
    padding-top: 44px;
}

.van-tabs .van-tabs__wrap {
    position: fixed;
    top: inherit;
}

[class*=van-hairline]::after {
    border: 0;
}

.items {
    margin: 15px 0;
}

    .items .li {
        width: 80%;
        margin: 30px auto;
        padding: 15px;
        background-color: white;
        border-radius: 5px;
    }

        .items .li > .iconfont {
            display: block;
            background-color: #53aaf6;
            color: white;
            padding: 10px;
            border-radius: 50%;
            float: left;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-size: 1.3em;
        }

        .items .li .item_right {
            float: left;
            width: calc(100% - 90px);
            margin-left: 15px;
            height: 45px;
        }

            .items .li .item_right .text {
                font-weight: 600;
                height: 25px;
                line-height: 25px;
            }

            .items .li .item_right .des {
                height: 20px;
                line-height: 20px;
                font-size: .8em;
                color: #AAAAAA;
            }

        .items .li .more {
            float: left;
            width: 30px;
            height: 45px;
            text-align: center;
            line-height: 45px;
        }

.work .title {
    width: 80%;
    margin: auto;
    margin-top: 15px;
    background: #ffffff;
    font-size: 0.9em;
    padding: 15px;
    color: #ff9d4f;
    border-radius: 5px;
}



.work .top {
    font-size: 0.8em;
    color: #AAAAAA;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.task_item {
    background-color: white;
    padding: 0 15px;
    padding-bottom: 25px;
    margin-top: 15px;
}

    .task_item .title {
        width: 100%;
        margin: 0 !important;
        border-radius: 0;
        box-sizing: content-box;
        height: 30px;
        line-height: 30px;
        padding: 10px 0;
    }

        .task_item .title .text {
            font-size: 1.5em;
            float: left;
        }

    .task_item .group {
        padding-top: 15px;
    }

        .task_item .group.van-hairline--top::after {
            border-top: 1px solid #e4e4e4 !important;
        }

    .task_item .top {
        width: 100%;
        padding: 0 15px;
        margin-top: 0 !important;
    }

    .task_item .members .member {
        width: 100% !important;
        border-radius: 0 !important;
        padding: 5px 15px !important;
        height: 80px !important;
    }

        .task_item .members .member.computer .name {
            height: 70px;
            line-height: 70px;
        }

        .task_item .members .member .right {
            height: 70px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }

.work .members .member {
    font-size: 0.8em;
    padding: 15px;
    background: #FFFFFF;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    height: 60px;
    line-height: 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}

    .work .members .member:last-child {
        margin-bottom: 0;
    }

    .work .members .member .name {
        float: left;
    }

    .work .members .member:active {
        background-color: #f9f9f9;
    }

    .work .members .member.green,
    .work .members .member.green:active {
        background-color: #3aad00;
        color: white;
    }

    .work .members .member .right,
    .work .title .number {
        float: right;
    }

        .work .members .member .right .iconfont {
            font-size: 1.5em;
        }

        .work .members .member .right .txt {
            text-align: right;
            font-size: .9em;
            color: #9c9c9c;
            width: 100%;
        }

        .work .members .member .right .van-stepper__input {
            border: 0 !important;
            margin: 0 !important;
        }

.confirm_button {
    width: calc(100% - 30px);
}
