.cell {
	width: calc(100% - 40px);
	padding: 10px;
	background: #ffffff;
	margin: auto;
	border-radius: 5px;
}

.cell:last-child {
	margin-bottom: 10px;
}

.cell .content {
	padding: 0 5px;
}

.cell .time {
	font-size: 0.85em;
	color: #aaaaaa;
}

.cell .content .name {
	font-size: 0.85em;
}

.cell .content .text {
	background: #eeeeee;
	border-radius: 5px;
	font-size: 0.7em;
}

.cell .content .text .pd {
	padding: 5px;
}

.cell .content .text .right {
	float: right;
}

.cell .time .right {
	float: right;
}
