<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../../content/css/base.css" rel="stylesheet" />
    <link href="../../../content/css/vant.css" rel="stylesheet" />
    <link href="../../../content/css/pages/center/member/main.crouse.check.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>

<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text">专业课考勤</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else>
                <div v-if="pageModule.length==0" class="normal_info">
                    <img class="img" src="../../../content/img/center/cache_bg.png" />
                    <p class="text">
                        暂时没有考勤
                    </p>
                </div>
                <div v-else>
                    <div class="cell mt-15" v-for="itme in pageModule" @click="gotoNewWinow(itme)">
                        <p class="title">
                            <span class="caption">学期编号：</span>
                            <span class="left" v-text="itme.TermPlanId"></span>
                        </p>
                        <p>
                            <span class="caption">章节名称：</span>
                            <span class="left" v-text="itme.ChapterName"></span>
                        </p>
                        <p class="time">
                            <span class="caption">上课时间：</span>
                            <span class="left" v-text="' 上午第'+itme.SegNum+'节'"></span>

                        </p>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <script src="../../../content/js/vue.js"></script>
    <script src="../../../content/js/vant.min.js"></script>
    <script src="../../../content/js/base.js"></script>
    <script src="../../../content/js/pages/center/member/main.crouse.check.js"></script>
</body>

</html>