<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../../content/css/base.css" rel="stylesheet" />
    <link href="../../../content/css/vant.css" rel="stylesheet" />
    <link href="../../../content/css/pages/center/member/task.list.detail.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text">测试结果</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <ul v-else v-cloak class="list">
                <li class="item"
                    v-for="(item,index) in pageModel.list"
                    v-bind:key="index"
                    v-bind:class="[item.IsRight ? 'green' : 'red']">
                    <div class="left">
                        <p class="en" v-text="item.Eng"></p>
                        <p class="cn" v-text="item.Chi"></p>
                    </div>
                    <div class="right">
                        <p class="answer" v-text="item.SAnswer"></p>
                        <p class="text">输入的答案</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="../../../content/js/vue.js"></script>
    <script src="../../../content/js/vant.min.js"></script>
    <script src="../../../content/js/base.js"></script>
    <script src="../../../content/js/pages/center/member/task.list.detail.js"></script>
</body>
</html>
