<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/thriver/error.resolve.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text" v-text="getTitle()">错题解析</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else v-cloak>
                <div v-if="pageModel.ChoiceList.length === 0" class="none-data p60">
                    <i class="iconfont iconlunwentimu"></i>
                    <p class="none-data-text">没有找到本次测试的题目信息</p>
                </div>
                <div v-else class="content">
                    <van-collapse v-model="currentSelected" accordion>
                        <van-collapse-item v-for="(question, qIndex) in pageModel.ChoiceList"
                                           v-bind:key="qIndex"
                                           v-bind:name="qIndex">
                            <p slot="title">
                                <span v-text="'第 ' + (qIndex + 1) + ' 题'"></span>
                                <span v-bind:class="[isError(question) ? 'red' : 'green']" v-text="isError(question) ? '（错误）' : '（正确）'"></span>
                            </p>
                            <div class="problem">
                                <div class="question" v-html="getQuestionCaption(question)"></div>
                                <div class="answer"
                                     v-for="(option, index) in getQuestionOptions(question)"
                                     v-bind:key="index"
                                     v-bind:class="{'green': isOptionContains(question, option)}">
                                    <p v-html="getOptionIndex(option, index)"></p>
                                </div>
                                <div class="my_answer" v-if="question.SAnswer !== question.Answer">
                                    <span v-text="'您选择的答案：' + getRealOption(qIndex, question)"></span>
                                </div>
                            </div>
                        </van-collapse-item>
                    </van-collapse>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/thriver/error.resolve.js"></script>
</body>
</html>
