<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/thriver/crouse.recommend.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text">选购课程</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (statusbarHeight + 45) + 'px'}">
            <div v-if="isLoadTag" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else v-cloak>
                <div class="tags van-hairline--top-bottom">
                    <p class="caption">标签筛选</p>
                    <div class="tag_content">
                        <span class="tag van-hairline--surround"
                              v-bind:class="{'isCheck': selectedIndex === -1}"
                              @click="selectTag(-1)">全部</span>
                        <span v-for="(item, index) in pageModel.tags"
                              class="tag van-hairline--surround"
                              v-bind:class="{'isCheck': index === selectedIndex}"
                              @click="selectTag(index, item.Tag)" v-text="item.Tag + '(' + item.Num + ')'">
                        </span>
                    </div>
                </div>
                <div v-if="isLoadClasses" class="loading-box p60">
                    <van-loading color="black"></van-loading>
                    <p class="loading-text">正在加载...</p>
                </div>
                <div v-else class="content">
                    <div v-if="pageModel.list.length === 0" class="none-data p40">
                        <i class="iconfont iconkecheng small"></i>
                        <p class="none-data-text">暂无可选购课程</p>
                    </div>
                    <div v-else>
                        <ul>
                            <li class="cell"
                                v-for="(item, index) in pageModel.list"
                                v-bind:key="index"
                                @click="gotoDetail(item)">
                                <div class="left">
                                    <img v-lazy="item.ImageSrc" class="img" />
                                </div>
                                <div class="right">
                                    <p class="name" v-text="item.Name"></p>
                                    <p class="intro mt-10" v-text="item.Introduce"></p>
                                    <div class="bottom">
                                        <span class="now mt-5" v-text="'已学习：' + item.Speed + '%'"></span>
                                        <div class="progress-bar mt-5">
                                            <div class="now-progress-bar" v-bind:style="{'width': item.Speed + '%'}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                            <van-loading color="black"></van-loading>
                            <span class="load_text">正在加载...</span>
                        </div>
                        <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                            <span class="load_text">没有更多的数据了...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/thriver/my.choose.course.js"></script>
</body>
</html>
