<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/thriver/unfamiliar.word.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>
<body>
    <div id="app">
        <div id="app-head" class="van-hairline--bottom fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text">生词本</div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (statusbarHeight+45) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else v-cloak>
                <div v-if="pageModel.list.length === 0" class="none-data p60">
                    <i class="iconfont iconlunwentimu"></i>
                    <p class="none-data-text">生词本暂无信息</p>
                </div>
                <div v-else>
                    <ul class="mt-10">
                        <li class="word"
                            v-for="(item,index) in pageModel.list"
                            v-bind:key="index"
                            @click="gotoDetail(item)">
                            <p class="value">
                                <span class="name" v-text="item.Eng"></span>
                                <span class="voice" v-text="'[' + item.Phonetic + ']'"></span>
                            </p>
                            <p class="text mt-5" v-text="item.Chi"></p>
                        </li>
                    </ul>
                    <div v-if="pageModel.isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text">正在加载...</span>
                    </div>
                    <div v-if="pageModel.isLoadComplete" class="load_more_complete">
                        <span class="load_text">没有更多的数据了...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/thriver/unfamiliar.word.js"></script>
</body>
</html>
