<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
		<title></title>
		<link href="../../content/css/base.css" rel="stylesheet" />
		<link href="../../content/css/vant.css" rel="stylesheet" />
		 <link href="../../content/css/pages/center/my.insterest.css" rel="stylesheet" />
		<script src="html5plus://ready"></script>
	</head>
	<body>
		<div id="app">
			<div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
				<i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
				<div class="app-head-text">我的关注</div>
			</div>
			<div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
				<div v-if="isLoading" class="loading-box p60">
					<van-loading color="black"></van-loading>
					<p class="loading-text">正在加载...</p>
				</div>
				<div v-else v-cloak>
					<div v-if="pageModule.length === 0" class="normal_info">
						<img class="img" src="../../content/img/center/like_bg.png" />
						<p class="text">暂无任何关注信息</p>
					</div>
					<div v-else class="new">
						<ul class="list">
							<li class="rec" 
                                v-for="(item,index) in pageModule" 
                                v-bind:key="index" 
                                @click="gotoQuestionDetail(item)">
								<div class="user">
									<img v-lazy="item.Avatar" class="head" />
									<span class="name" v-text="item.RealName"></span>
									<span class="focus red van-hairline--surround" @click.stop="focusQuestion(item,index)">
										取消关注
									</span>
								</div>
								<p class="value" v-text="item.Title"></p>
								<div class="tags">
									<span v-for="tag in item.Tags.split(/,/g)" v-text="tag" class="tag van-hairline--surround">
									</span>
								</div>
								<div class="bottoms">
									<span class="w5" v-text="item.AttentionCount + '人关注'"></span>
									<span class="w5 txt-right" v-text="item.PublishTime"></span>
								</div>
							</li>
						</ul>
						<div v-if="isLoadMore" class="load_more clearfix">
							<van-loading color="black"></van-loading>
							<span class="load_text">正在加载...</span>
						</div>
						<div v-if="isLoadComplete" class="load_more_complete">
							<span class="load_text">没有更多的数据了...</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../content/js/vue.js"></script>
		<script src="../../content/js/vant.min.js"></script>
		<script src="../../content/js/base.js"></script>
		<script src="../../content/js/pages/center/my.insterest.js"></script>
	</body>
</html>
