<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/my.paln.css" rel="stylesheet" />
    <script src="html5plus://ready"></script>
</head>

<body>
    <div id="app">
        <div id="app-head" class="fixed van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconbaidifanhuianniux right-back"></i>
            <div class="app-head-text">个性化任务</div>
            <div class="submit-button" @click="APP.GLOBAL.gotoNewWindow('check.student')">
                检查
            </div>
        </div>
        <div id="app-content" v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}">
            <div v-if="isLoading" class="loading-box p60">
                <van-loading color="black"></van-loading>
                <p class="loading-text">正在加载...</p>
            </div>
            <div v-else>
                <div v-if="pageModel.length==0" class="normal_info">
                    <img class="img" src="../../content/img/center/cache_bg.png" />
                    <p class="text">
                        还没有任务
                    </p>
                </div>
                <div v-else>
                    <div class="tabs mt-15" v-for="item in pageModel" @click="gotoPalnDetail(item)">
                        <div class="flex_l">
                            <p class="name" v-text="'名称：'+item.Name">
                            </p>
                            <p class="detail mt-5" v-text="'检查人：'+item.Inspector">
                            </p>
                            <p class="complete">
                                <span class="left">距离任务结束还有 <b class="c1" v-text="overNumberDay(item)"></b> 天</span>
                            </p>
                        </div>
                        <div class="flex_r" v-text="item.CompletionRate+'%'">
                        </div>
                    </div>
                    <div v-if="isLoadMore" class="load_more clearfix">
                        <van-loading color="black"></van-loading>
                        <span class="load_text">正在加载...</span>
                    </div>
                    <div v-if="isLoadComplete" class="load_more_complete">
                        <span class="load_text">没有更多的数据了...</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/center/my.paln.js"></script>
</body>

</html>